<template>
    <button :disabled="disabled"
            :class="type || 'core'"
            v-on:click="$emit('click')">
        <span>{{text}}</span>
    </button>
</template>

<script>
    export default {
        name: 'Button',
        props: {
            text: String,
            type: String,
            disabled: Boolean
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
    button {
        position: relative;
        display: block;
        overflow: hidden;
        border-width: 0;
        outline: none;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
        padding: .5rem .75rem;
        cursor: pointer;
        background: #2196F3;
        color: #FFF;
        font-weight: 600;
        font-size: 12px;
        margin: .75rem 0;
        &:hover,
        &:focus {
            background-color: #2196F3;
            color: #FFF;
        }
        > * {
            position: relative;
        }
        span {
            display: block;
        }
        &:disabled {
            cursor: no-drop;
        }
        &.green {
            background: #4CAF50;
            &:disabled {
                background: #A5D6A7;
            }
        }
        &.red {
            background: #F44336;
            :disabled {
                background: #EF9A9A;
            }
        }
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 0;
            padding-top: 0;
            border-radius: 100%;
            background-color: #2196F3;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        &:active:before {
            width: 120%;
            padding-top: 120%;
            transition: width .2s ease-out, padding-top .2s ease-out;
        }
    }

</style>
