<template>
    <section id="search-bar-component">
        <input type="text"
               v-on:keyup="$emit('change', $event.target.value)"
               v-bind:placeholder="placeholder"/>
    </section>
</template>

<script>
    export default {
        name: 'SearchBarComponent',
        props: {
            placeholder: String
        },
        event: 'change'
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
    input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 3px;
        padding: .5rem;
        font-size: 12px;
        box-sizing: border-box;
    }
</style>
