<template>
    <main id="app">
        <header>
            <h1>TODO LIST TEST</h1>
            <SearchBarComponent v-on:change="onSearchTask"
                                placeholder="Search task...."/>
            <section v-show="isNotFiltering">
                <Button v-on:click="showTaskArea(!showAddTaskArea)"
                        :text="showAddTaskArea ? 'Close add task' :'Add task'"/>
                <p v-if="items.length > 0"
                   class="counter">{{getTotalCount}}</p>
            </section>
        </header>
        <main>
            <NewTask v-on:new-task="addNewTask"
                     v-if="showAddTaskArea && isNotFiltering"/>
            <ItemList :items="itemsFiltered"
                      v-on:remove:item="removeTask"
                      v-on:item:click="itemClick"></ItemList>
            <h4 class="warning"
                v-if="itemsFiltered.length === 0">
                It seems there is no results at this time. If you filtered something search another tag, otherwise, seems no data received!</h4>
        </main>
    </main>
</template>

<script>
    import SearchBarComponent from './components/searchBar/searchBarComponent.vue';
    import ItemList from './components/itemList/itemList.vue';
    import Button from './components/button/Button.vue';
    import NewTask from './components/newTask/NewTask.vue';

    export default {
        name: 'App',
        components: {
            SearchBarComponent,
            ItemList,
            Button,
            NewTask
        },
        data: function () {
            return {
                items: [],
                showAddTaskArea: false
            };
        },
        methods: {
            getData: function () { // Trae los datos
                fetch('https://jsonplaceholder.typicode.com/todos')
                    .then(res => res.json())
                    .then(res => {
                        this.items = res;
                        this.items.map(item => Object.assign(item, {found: true})); // Inicializamos los items como filtrados
                    });
            },
            itemClick: function (item) { // Solamente cambiamos el estado checked del clicado
                this.items = this.items.map(i => Object.assign(i, {completed: i.id === item.id ? !i.completed : i.completed}));
            },
            showTaskArea: function (show) { //Oculta/muestra la zona de añadir tarea
                this.showAddTaskArea = show;
            },
            addNewTask: function (task) { // Añade una nueva tarea
                this.showTaskArea(false);
                this.items.unshift({
                    title: task.title,
                    completed: task.checked,
                    id: this.items.length,
                    userId: this.items.length,
                    found: true
                });
            },
            removeTask: function (id) { // Borra una tarea
                this.showTaskArea(false);
                this.items = this.items.filter(item => item.id !== id);
            },
            onSearchTask: function (filter) { //Filtra
                this.showTaskArea(false);
                this.items = this.items.map(item => Object.assign(item, {found: filter.length === 0 ? true : item.title.indexOf(filter) > -1}));
            }
        },
        computed: {
            getTotalCount: function () {
                return `${this.items.filter(i => i.completed).length} ${(this.items.length > 1 ? 'completed tasks' : 'completed task')} of ${this.items.length}`;
            },
            itemsFiltered: function () {
                return this.items.filter(item => item.found);
            },
            isNotFiltering: function () {
                return this.itemsFiltered.length === this.items.length;
            }
        },
        mounted: function () {
            this.getData();
        }
    }

</script>

<style lang="less">
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin: 30px auto;
        max-width: 960px;

        main {
            margin: 0;
        }

        header {
            h1 {
                margin: .5rem 0 1rem;
            }
            section {
                box-sizing: content-box;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                align-items: center;
            }
            button {
                flex: 0 0 auto;
            }
            #search-bar-component {
                flex: 100%;
            }
            .counter {
                font-size: 12px;
                flex: 100%;
                margin: 0;
                text-align: right;
                color: #607D8B;
            }

            .warning {
                margin: 3rem 0;
                font-size: 18px;
                color: #F44336;
                font-weight: 600;
                padding: 0 .5rem;
            }
        }
    }

</style>
