<template>
    <section id="item-list--component">
        <h4>Tasks</h4>
        <ul>
            <li v-for="(item, index) in items"
                :class="item.completed ? 'completed' : ''"
                index="index">
                <input type="checkbox"
                       v-on:click="onItemClick(item)"
                       :checked="item.completed"/>
                <label v-on:click="onItemClick(item)">{{item.title}}</label>
                <span v-on:click="onRemoveTask(item.id)"
                      class="remove">×</span>
            </li>
        </ul>
    </section>
</template>

<script>
    export default {
        name: 'ItemList',
        props: {
            items: Array
        },
        methods: {
            onItemClick: function (item) {
                this.$emit('item:click', item);
            },
            onRemoveTask: function (id) {
                this.$emit('remove:item', id);
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
    h4 {
        margin: 2rem 0 1rem;
        text-align: left;
        border-bottom: 1px solid #ddd;
        text-transform: uppercase;
        color: #575757;
        font-size: 18px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 1.5rem 0;
        li {
            position: relative;
            border: 1px solid #80CBC4;
            padding: 1rem 2.5rem 1rem 1rem;
            border-radius: 2px;
            margin: 0 0 .75rem;
            text-align: left;
            color: #009688;
            display: flex;
            align-items: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            span.remove {
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 5px;
                color: #F44336;
                cursor: pointer;
                text-align: center;
                font-size: 24px;
                font-weight: 800;
            }
            label {
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                display: block;
                text-overflow: ellipsis;
            }
            &:hover {
                border-color: #00796B;
                color: #00796B;
                font-weight: 600;
                background: #E0F2F1;
            }
            &.completed {
                border-color: #388E3C;
                color: #4CAF50;
                background: #E8F5E9;
                &:hover {
                    background: #C8E6C9;
                }
            }
            input[type=checkbox] {
                cursor: pointer;
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 4px;
                -webkit-appearance: button;
                border: double 2px #009688;
                margin: 0 .75rem 0 0;
                background-color: #FFF;
                color: #FFF;
                white-space: nowrap;
                overflow: hidden;
                width: 22px;
                height: 22px;
                min-width: 22px;
                &:checked {
                    border-color: #81C784;
                    background: #FFF url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Green_check.svg/240px-Green_check.svg.png) no-repeat center;
                    background-size: 75%;
                }
                :hover {
                    box-shadow: 0px 0px 10px #4CAF50;
                }
            }
        }
    }
</style>
