<template>
    <section>
        <h4>Add new task</h4>
        <input type="text"
               v-model="title"
               placeholder="Add text for new task"
               maxlength="255"/>
        <footer>
            <div>
                <input type="checkbox"
                       v-model="checked"
                       name="checked-status"
                       id="checked-status"/>
                <label for="checked-status">Mark task as completed</label>
            </div>
            <Button v-on:click="addNewTask"
                    :disabled="invalidForm"
                    type="green"
                    :text="'Accept'"></Button>
        </footer>
    </section>
</template>

<script>
    import Button from '../button/Button.vue';
    export default {
        name: 'NewTask',
        props: {},
        components: {
            Button
        },
        data: function () {
            return {
                title: '',
                checked: false
            }
        },
        computed: {
            invalidForm: function() {
                return this.title.length === 0;
            }
        },
        methods: {
            addNewTask: function () {
                this.$emit('new-task', {
                    title: this.title,
                    checked: this.checked
                });
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less" scoped>
    section {
        border: 1px solid #CFD8DC;
        border-radius: 2px;
        margin: .75rem 0;
        padding: .75rem;
        h4 {
            margin: 0 0 .25rem;
        }
        input[type=text] {
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding: .5rem;
            margin: .25rem 0;
            box-sizing: border-box;
            font-size: 12px;
        }
        footer {
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            div {
                display: flex;
                flex: 100%;
                align-items: center;
                justify-content: flex-end;
                font-size: 13px;
                margin: .25rem 0 .5rem;
            }
            button {
                margin: 0;
            }
        }
    }
</style>
